@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");

// Mei - The Road , About , Hero
$S: 768px;
$M: 1024px;
$L: 1600px;
$green: #2f8886;
$black: #333333;
$soft-green: #e8f2f1;
$soft-gray: #f5f5f5;

body {
  font-family: "Work Sans", sans-serif;
}

// Headings

header {
  background-image: url(../img/hero.png);
  padding: 2em;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  h1 {
    font-size: 64px;
  }

  @media (min-width: 768px) {
    height: 658px;
    padding: 4em 5em 0 5em;
  }
}

.summary {
  // display: none;
}

.preamble {
  padding: 3em 2em;

  h3 {
    color: $green;
    font-size: 30px;
  }

  p {
    color: $black;
  }

  @media (min-width: 768px) {
    padding: 4em 5em;
  }
}

.main {
  .explanation {
    background-color: #fffaf2;
    padding: 3em 2em;

    @media (min-width: 768px) {
      padding: 4em 5em;
    }

    h3 {
      color: $green;
      font-size: 30px;
    }
  }
}

// End ...

// Cristhians - Participation , Benefits & Requirements , By David
.participation {
  h3 {
    color: $green;
    font-size: 30px;
  }

  padding: 3em 2em;

  p {
    width: 100%;
  }

  @media (min-width: 768px) {
    padding: 4em 5em;

    background-image: url(../img/people-discussion.png);
    background-repeat: no-repeat;
    background-position: 85% 50%;
    background-size: 40%;

    p {
      width: 50%;
    }
  }
}

.benefits {
  h3 {
    color: $green;
    font-size: 30px;
  }

  padding: 3em 2em;

  p {
    width: 100%;
  }

  @media (min-width: 768px) {
    padding: 4em 5em;

    background-image: url(../img/BigShoesHero.png);
    background-repeat: no-repeat;
    background-position: 15% 50%;
    background-size: 30%;

    h3,
    p {
      width: 50%;
      padding-left: 50%;
    }
  }
}

.requirements {
  padding: 3em 2em 0;
  background-color: $soft-green;

  h3 {
    color: $green;
    font-size: 30px;
  }

  p {
    width: 100%;
    padding-bottom: 1em;
  }

  p:last-child {
    padding: 3em 2em;
    margin-left: -2em;
    margin-right: -2em;
    background-color: $soft-gray;
  }

  @media (min-width: 768px) {
    padding: 4em 5em 0;

    // p {
    //   border: 1px solid red;
    // }

    p:last-child {
      padding: 4em 5em;
      margin-left: -5em;
      margin-right: -5em;
    }
  }
}

// Hector - Footer , Asidebar
footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 3em 2em;

  a {

    padding: 1.5em;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;

  }
}

.zen-validate-html {
  background-image: url(../icons/html.png);

}

.zen-validate-css {
  background-image: url(../icons/css.png);

}

.zen-license {
  background-image: url(../icons/cc.png);

}

.zen-accessibility {
  background-image: url(../icons/github.png);

}

.zen-github {
  background-image: url(../icons/github.png);

}

.wrapper {

  display: grid;
  grid-template-areas: "selection"
    "archives"
    "resources";
  width: 100%;

  @media (min-width: 768px) {
    grid-template-areas: "selection   archives"
      "selection   resources";

  }

  h3 {
    font-weight: bolder;
    font-size: 30px;
    color: $black;
    margin-bottom: 1em;
  }

  ul li {
    padding: 0.5em 0;
  }


  a {
    text-decoration: none;
    color: $black;

  }

  abbr {
    text-decoration: none;
  }


  li>a:first-child {
    font-weight: bolder;
  }
}

.design-selection {
  grid-area: selection;
  color: $black;
  padding: 2em 4em;

  @media (min-width: 768px) {
    justify-self: center;

  }

  h3:before {
    content: "\2713";
    padding-right: 10px;

  }


}

.design-selection::after {
  display: block;
  content: '';
  transform: rotate(-35deg);
  height: 50px;
  background-color: red;
  width: 50px;
}

.design-archives {
  grid-area: archives;

  h3:before {
    content: "\1F4C1";
    padding-right: 10px;

  }
}

.zen-resources {
  grid-area: resources;

  h3 {
    margin-top: 1em;
  }

  h3:before {
    content: "\2706";
    padding-right: 10px;

  }
}

.design-archives,
.zen-resources {
  padding: 2em 4em;
  background-color: $green;

  a {
    color: white;
  }


  h3 {
    color: white;
  }
}