/* xIcons section - basic style */

.cd-icons {
  .cd-box {
    background-color: #2f8886;
  }
  li {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 1em;
  }

  .cd-icon-1 {
    background-image: url("../assets/icons/folder_openold.png");
  }

  .cd-icon-2 {
    background-image: url("../assets/icons/icon-2.svg");
  }

  .cd-icon-3 {
    background-image: url("../assets/icons/icon-3.svg");
  }

  .cd-icon-4 {
    background-image: url("../assets/icons/icon-4.svg");
  }

  .cd-icon-5 {
    background-image: url("../assets/icons/icon-5.svg");
  }

  .cd-icon-6 {
    background-image: url("../assets/icons/icon-6.svg");
  }

  .cd-icon-7 {
    background-image: url("../assets/icons/icon-7.svg");
  }

  .cd-icon-8 {
    background-image: url("../assets/icons/icon-8.svg");
  }
}
