/* xIcons section - basic style */

.cd-icons {
  .cd-box {
    background-color: #2f8886;
  }

  li {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 1em;
    width: 70px!important;
    height: 74px!important;
  }

  .cd-icon-1 {
    background-image: url("../assets/icons/folder_openold.png");
  }

  .cd-icon-2 {
    background-image: url("../assets/icons/html.png");
  }

  .cd-icon-3 {
    background-image: url("../assets/icons/github.png");
  }

  .cd-icon-4 {
    background-image: url("../assets/icons/cc.png");
  }

  .cd-icon-5 {
    background-image: url("../assets/icons/css.png");
  }

  .cd-icon-6 {
    background-image: url("../assets/icons/search.png");
  }

}